@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?8a2wzw');
  src:  url('../fonts/icomoon.eot?8a2wzw#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?8a2wzw') format('truetype'),
    url('../fonts/icomoon.woff?8a2wzw') format('woff'),
    url('../fonts/icomoon.svg?8a2wzw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-new-tab:before {
  content: "\ea7e";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin2:before {
  content: "\eaca";
}
